* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "TT Hoves Pro Trial";
    font-style: normal;
    font-weight: 800;
    src:url(./font/TT\ Hoves\ Pro\ Trial\ ExtraBold.woff) format("woff"); /*800*/
}

@font-face {
    font-family: "TT Hoves Pro Trial";
    font-style: normal;
    font-weight: 700;
    src:url(./font/TT\ Hoves\ Pro\ Trial\ Bold.woff) format("woff"); /*700*/
}

@font-face {
    font-family: "TT Hoves Pro Trial";
    font-style: normal;
    font-weight: 600;
    src:url(./font/TT\ Hoves\ Pro\ Trial\ DemiBold.woff) format("woff"); /*600*/
}

@font-face {
    font-family: "TT Hoves Pro Trial";
    font-style: normal;
    font-weight: 500;
    src:url(./font/TT\ Hoves\ Pro\ Trial\ Medium.woff) format("woff"); /*500*/
}

@font-face {
    font-family: "TT Hoves Pro Trial";
    font-style: normal;
    font-weight: 400;
    src:url(./font/TT\ Hoves\ Pro\ Trial\ Regular.woff) format("woff"); /*400*/
}

@font-face {
    font-family: "TT Hoves Pro Trial";
    font-style: normal;
    font-weight: 300;
    src:url(./font/TT\ Hoves\ Pro\ Trial\ Light.woff) format("woff"); /*300*/
}

@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 900;
    src:url(./font/SF-Pro-Display-Black.woff) format("woff"); /*900*/
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src:url(./font/OpenSans-Regular.woff) format("woff"); /*400*/
}

@font-face {
    font-family: "GothicA1";
    font-style: normal;
    font-weight: 400;
    src:url(./font/GothicA1-Regular.woff) format("woff"); /*400*/
}


.header {
    display: flex;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 30px;
    align-items: center;
}

.header__logo {
    width: 70px;
    height: 43.71px;
}
.headerText__block {
    display: flex;
    
}

.headerText__container {
    margin-left: 330px;
    margin-right: 134px;
}
.header__menuText {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color:  rgba(51, 51, 51, 1);
    letter-spacing: 2px;
    text-decoration:none;
    text-transform: uppercase;
}

li {
    list-style-type: none;
    margin-right: 60px;
}

li:last-child {
  margin-right: 0px;
}

.header__menuText:hover {
    border: 1px solid rgba(51, 51, 51, 1);
    border-left: 0;
    border-right:0;
}

.header__menuText:active {
    border: 1px solid rgba(51, 51, 51, 1);
    border-left: 0;
    border-right:0;
}


.header__menuText:focus {
    border: 1px solid rgba(51, 51, 51, 1);
    border-left: 0;
    border-right:0;
}

.mainPage {
    padding-top: 33px;
    padding-left: 135px;
    padding-right: 135px;
    
    
}

.mainPage__title {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: rgba(189, 189, 189, 1);
    text-transform: uppercase;
}

.mainPage__titleSecond {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color:  rgba(51, 51, 51, 1);
    text-transform: uppercase;
}

.mainPage__container {
    display: flex;
   
}

.mainPage__pic {
    width: 770px;
    height: 829px;
}
.mainPage__blockText{
    margin-right: 69px;
}

.mainPage__blockFirst{
     padding-top: 336px;
}

.mainPage__containerSecond {
    position: relative;
    
}

.mainPage__link{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    font-family: 'TT Hoves Pro Trial';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-bottom: 29px;
    padding-right: 66px;
    padding-left: 51px;
    text-decoration:none;
    color:  rgba(51, 51, 51, 1);
    text-transform: uppercase;
    margin-left: -1px;

}

.mainPage__arrowBlock {
    padding-top: 90px;
}

.mainPage__arrowPic {
    padding-right: 23px;
    width: 53px;
    height: 53px;
}

.mainPage__blockNumbers {
    padding-top: 90px;
    display: flex;
}

.mainPage__textNumbers {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: rgba(189, 189, 189, 1);
    
}

.mainPage__linePic {
    padding-left: 26px;
    padding-right: 26px;
}

.about-company {
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 120px;
}

.about-company__PicFirst{
    width: 270px;
    height: 265px;
    padding-bottom:30px ;
   
}

.about-company__PicSecond {
    width: 270px;
    height: 345px;
}

.about-company__PicThird {
    width: 270px;
    height: 140px;
    
}

.about-company__blockPicOne {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    
}

.about-company__container{
    display: flex;
}

.about-company__blockOne {
    padding-right: 30px;
}

.about-company__blockPicTwo {
    padding-top: 30px;
    display: flex;
}

.About-company__title {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: rgba(189, 189, 189, 1);
    padding-bottom: 20px;
}

.About-company__text {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 44px;
}

.about-company__blockText {
    padding-left: 30px;
    max-width: 32%;
}

.About-company__button {
    background-color: white;
    font-family: 'TT Hoves Pro Trial';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-decoration:none;
    color:  rgba(51, 51, 51, 1);
    padding: 30px 100px 29px 65px;
    text-transform: uppercase;
}

.main-goals {
    padding-left: 135px;
    padding-right: 135px;
    margin-top: 120px;
}

.main-goals__title {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: rgba(189, 189, 189, 1);
}

.main-goals__blockOne {
    display: flex;
    align-items: center;
    max-width: 35%;
    
}
.main-goals__container {
    display: flex;
    padding-top: 60px;
    
}
.main-goals__text {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}

.main-goals__textNumber {
    color: rgba(242, 242, 242, 1);
    font-family: 'SF-Pro-Display';
    font-weight: 900;
    font-size: 200px;
    padding-right: 30px;
    
}

.main-goals__blockTwo {
    padding-left: 187px;
    display: flex;
    align-items: center;
    max-width: 50%;
}

.our-projects {
    padding-left: 135px;
    padding-right: 135px;
    margin-top: 120px;
}

.our-projects__title {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: rgba(189, 189, 189, 1);

}

.our-projects__container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
}

.our-projects__picOne {
    width: 570px;
    height: 255px;
    padding-right: 30px;
    padding-bottom: 30px;
    
}

.our-projects__picTwo {
    width: 570px;
    height: 255px;
    padding-bottom: 30px;
}

.our-projects__picThree {
    width: 270px;
    height: 255px;
    padding-right: 30px;
}

.our-projects__picFour {
    width: 470px;
    height: 255px;
    padding-right: 30px;
}

.our-projects__picFive {
    width: 370px;
    height: 255px;
}

.our-projects__blockOne {
    position: relative;
    opacity: 80%;
}

.our-projects__text {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 79px;
    padding-top: 48px;
    text-transform: uppercase;
}

.our-projects__link {
    position: absolute;
    font-family: 'GothicA1';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-decoration:none;
    color:  rgba(255, 255, 255, 1);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 190px;
    padding-left: 79px;
    text-transform: uppercase;
}

.our-projects__button {
    background-color:  rgba(51, 51, 51, 1);
    border: none; 
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    font-family: 'TT Hoves Pro Trial';
    margin-left: 968px;
    margin-top: 30px;
    padding-left: 39px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 23px;
    text-transform: uppercase;
}

.connect-with-us__title{
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: rgba(189, 189, 189, 1);
    padding-bottom: 22px;
}

.connect-with-us {
    padding-left: 135px;
    padding-right: 135px;
    margin-top: 120px;
}

.connect-with-us__block {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.connect-with-us__input {
    background-color: rgba(243, 243, 243, 1);
    outline:none;
    border: none;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 14px;
    padding-left: 24px;
}

.connect-with-us__inputFive {
    background-color: rgba(243, 243, 243, 1);
    outline:none;
    border: none;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-right: 167px;
    padding-bottom: 107px;
    padding-left: 24px;
}

.connect-with-us__container {
    display: flex;
}

.connect-with-us__pic {
    width: 749px;
    height: 369px;
    
}

.connect-with-us__text {
    font-family: 'TT Hoves Pro Trial';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 22px;
    padding-left: 40px;
    
}

.connect-with-us__button {
    background-color:  rgba(51, 51, 51, 1);
    border: none; 
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    font-family: 'TT Hoves Pro Trial';
    margin-top: 21px;
    padding-left: 47px;
    padding-top: 24px;
    padding-right: 49px;
    padding-bottom: 23px;
}

.footer {
    
    margin-top: 120px;
    background-color: rgba(44, 44, 44, 1);
    padding-top: 58px;
}

.footer__logo {
    width: 145px;
    height: 94px;
}

.foooter__container {
    display: flex;
    padding-left: 116px;
    padding-bottom: 60px;
    
}

.footer__blockInfromation {
    display: flex;
    flex-direction: column;
    padding-left: 99px;
}

.footer__infromationTitle {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 25px;
}

.footer__infromationLink {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration:none;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 16px;
}

.footer__blockContacts {
    padding-left: 157px;
}
.footer__contactsTitle {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 25px;
    
}

.footer__contactsPicOne {
    width: 11px;
    height: 16px;
    padding-right: 19px;
}
.footer__contactsBlockOne {
    display: flex;
}

.footer__contactsText {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 25px;
    letter-spacing: 0.03em;
    text-decoration: none;  
}

.footer__contactsPicTwo {
    width: 16px;
    height: 16px;
    padding-right: 14px;
}

.footer__contactsBlockTwo {
    display: flex;
    align-items: baseline;
}

.footer__contactsBlockThree {
    display: flex;
    align-items: baseline;
}

.footer__contactsPicThree {
    height: 11px;
    width: 16px;
    padding-right: 14px;
}

.footer__social-Media {
    padding-left: 70px;
    
}
.footer__social-MediaTitle {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 23px;
}

.footer__social-MediaFacebook {
    padding-right: 40px;
}

.footer__social-MediaTwitter {
    padding-right: 40px;
}

.footer__social-MediaLinkedIn {
    padding-right: 40px;
}

.footer__copyrite {
    border: 1px solid rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    font-family: 'OpenSans';
    padding-top: 24px;
    text-align: center;
    padding-bottom: 24px;
    color: rgba(200, 200, 200, 0.5);
    border-bottom: none;
    border-right: none;
    border-left: none;
    
}

.Photogallery {
    padding-left: 135px;
    padding-right: 135px;
    margin-top: 127px;
}

.Photogallery__TitleOne {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: rgba(189, 189, 189, 1);
    text-transform: uppercase;
}

.Photogallery__TitleTwo {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: rgba(51, 51, 51, 1);
    text-transform: uppercase;
}

.Photogallery__Container {
    padding-top: 61px;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px  1fr;
}

.photoPic {
    width: 210px;
    height: 260px;
    padding-bottom: 30px;
}

.Photogallery__Block {
    max-width: 80%;
}
.Photogallery__description {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(51, 51, 51, 1);
    padding-left: 20px;
}

.Photogallery__ContainerSecond {
    display: flex;
    padding-top: 71px;
    align-items: center;
}

.Photogallery__BlockSecond {
    padding-left: 27px;
}

.Ourprojects {
    padding-left: 135px;
    padding-right: 135px;
    margin-top: 63px;
}

.Ourprojects__pics {
    width: 670px;
    height: 435px;
}

.Ourprojects__Container {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
}

.Ourprojects__Block {
    display: flex;
    padding-bottom: 87px;
}

.Ourprojects__Title {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: rgba(189, 189, 189, 1);
    padding-bottom: 20px;
    padding-top: 30px;
}

.Ourprojects__BlockOne {
    padding-left: 30px;
    max-width: 24%;
}

.Ourprojects__text {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
}

.Ourprojects__Link {
    background-color: white;
    font-family: 'TT Hoves Pro Trial';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color:  rgba(51, 51, 51, 1);
    text-transform: uppercase;
    
}

.Ourprojects__BlockTwo {
    padding-top: 64px;
    padding-left: 30px;
}

.certificates {
    padding-left: 135px;
    padding-right: 135px;
    margin-top: 63px;
}

.certificatesPic {
    padding-left: 78px;
}

.certificates__Container {
    display: flex;
    padding-top: 42px;
}
.Certificates__ContainerSecond {
    padding-left: 920px;
    display: flex;
    align-items: center;
    padding-top: 49px;
}

.ContactInformation {
    padding-left: 135px;
    padding-right: 135px;
    margin-top: 63px;
}

.ContactInformation__Block {
    padding-top: 34px;
}

.ContactInformation__Text {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color:  rgba(51, 51, 51, 1);
    text-decoration: none;
}

.ContactInformation__textSecond {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color:  rgba(51, 51, 51, 1);
    padding-bottom: 43px;
}

.ContactInformation__TextThird {
    font-family: 'TT Hoves Pro Trial';
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color:  rgba(51, 51, 51, 1);
    padding-top: 52px;
    padding-bottom: 32px;
}